<tr>
  <td><%= link_to wiki.title, wiki_path(wiki) %></td>
  <td><%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %></td>
  <% if current_user %>
    <td><%= link_to "edit", edit_wiki_path(wiki) %></td>
  <% end %>
</tr>