<%= form_for([@wiki, @collaborator]) do |f| %>
  <div class="field">
    <%= f.select 'user_id', (@users.collect{ |u| [u.name, u.id] }) %>
  </div>
  <div class="actions collaborator-button">
    <%= f.submit %>
  </div>
<% end %>