<div class="row buffer">
  <div class="col-md-12 text-center">
    <div class="col-md-6 col-md-offset-3 home-page-intro">
      <h1>Blocipedia: Social, Markdown Wikis</h1>
      <h3>Create and share Markdown Wikis</h3>
    </div>
  </div>
</div>

