<body class="welcome-index">
  <div class="row buffer">
    <div class="col-md-12 text-center">
      <div class="col-md-6 col-md-offset-3 home-page-intro">
        <h3 class= "h3-text">Create and share Markdown Wikis</h3>
        <div class="form-group">
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info btn-lg' %>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- <div class-"col-md-12 text-left">
  <div class="cold-md-9 col-md-offset-2">
    <p>Create as many public wikis as you want!</p>
  </div>
</div>
<div class-"col-md-12 text-right">
  <div class="cold-md-9 col-md-offest-2">
    <p>Create private wikis!</p>
  </div>
</div> -->