<div class="container">
  <div class="row buffer">
    <h2 class= "h3-text-devise">Wikis</h2>
    <table class= "table table-bordered table-hover" data-sort-name="description" data-sort-order="desc">
      <thead>
        <tr>
          <th>Wiki Name</th>
          <th>Last Updated</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% @wikis.each do |wiki| %>
          <%= render partial: 'wiki', locals: {wiki: wiki} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>