<div class="container">
  <div class="row buffer">
    <h2 class= "h3-text-devise">Wikis</h2>
    <div class="new-wiki-btn">
      <%if current_user %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
      <% end %>
    </div>
    <table class= "table table-bordered table-hover" data-sort-name="description" data-sort-order="desc">
      <%= render partial: 'tableheaders' %>
      <tbody>
        <% @wikis.each do |wiki| %>
          <%= render partial: 'wiki', locals: {wiki: wiki} %>
        <% end %>
      </tbody>
    </table>
    <div class="apple_pagination">
      <%= will_paginate @wikis %>
    </div>
  </div>
</div>